chatbot/data
.venv
.env
.idea
vectorstores
task.txt
__pycache__/
*.py[cod]
*.pyo
*.pyd
chatbot/test_query_data.py
chatbot/test_query_picture.py
chatbot/sessions/
chatbot/test.py
chatbot/test_evaluate.py
backend/test_rag_api.py
backend/test_auth_api.py
node_modules
chatbot/test_dir